body {
    padding-top: 50px;
    padding-bottom: 20px;
}
/* color cyrcles with information on index menu */
.circle1 {
    width: 46px;
    height: 45px;
    border-radius: 50%;
    font-size: 9px;
    color: #332454;
    line-height: 35px;
    text-align: center;
    padding-top: 3px;
    background: #9ad34a;
    margin: 4px 0 0 19px;
    font-weight: bold;
}
.circle2 {
    width: 46px;
    height: 45px;
    border-radius: 50%;
    font-size: 9px;
    color: #332454;
    line-height: 35px;
    text-align: center;
    padding-top: 3px;
    background: #e0a614;
    margin: 4px 0 0 19px;
    font-weight: bold;
}
.circle3 {
    width: 46px;
    height: 45px;
    border-radius: 50%;
    font-size: 9px;
    color: #332454;
    line-height: 35px;
    text-align: center;
    padding-top: 3px;
    background: #436096;
    margin: 4px 0 0 19px;
    font-weight: bold;
}
.circle4 {
    width: 46px;
    height: 45px;
    border-radius: 50%;
    font-size: 9px;
    color: #332454;
    line-height: 35px;
    text-align: center;
    padding-top: 3px;
    background: #ed8217;
    margin: 4px 0 0 19px;
    font-weight: bold;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
