@{
    ViewData["Title"] = "Contact";
}

<div class="col-lg-offset-2">
    <h2>@ViewData["Title"]</h2>
    <address>
        <strong>Location </strong> <span>Bulgaria, Sofia</span>&nbsp; &nbsp;
        <strong>Phone:</strong> <span>+359 899 750 224</span><br />
        <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a>&nbsp; &nbsp;
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>


    <img alt="Come on" src="~/images/Accessdenied2.gif" width="800" height="411">
</div> 



