@using FAS.Services.Models
@model SportDetailsModel
@{
    ViewData["Title"] = "Add Sport";
}
<br />

<div class="col-md-12 col-md-offset-1">
    <form class="col-md-9" method="post">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="form-text text-danger"></span>
            </div>
            <div class="form-group">
              
                <select asp-for="TrainerId">
                    @foreach (var trainer in Model.Trainers)
                    { <option value="@trainer.TrainerId">@trainer.FirstName @trainer.LastName</option>}
                </select>
                <span asp-validation-for="TrainerId" class="form-text text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="StartDate"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="form-text text-danger"></span>
            </div>
                     
            <div class="form-group">
                <label asp-for="EndDate"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="form-text text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Save Sport Group" class="btn" />
            </div>
        </div>
    </form>
</div>

