@{
    ViewData["Title"] = "Home Page";
}


<div class="carousel-inner" role="listbox">
    <div class="item active">
        <img src="~/images/underconstruction.gif" alt="under construction" class="img-responsive" />

    </div>
</div>
