@{
    ViewData["Title"] = "Access denied";
}

<header>
     

    <div class="col-lg-offset-2">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">You do not have access to this resource and </p>
        <br />
        <img alt="Come on" src="~/images/Accessdenied.gif" width="800" height="400"> <br />
    </div>
</header>
